*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,rgb(39, 39, 39),black);
}

.heading{
  display: flex;
  place-content: center;
  color: pink;
}
.container-property{
  width: 400px;
  display:flex;
  text-align: left;
  color:white;
}
.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:600px;
  height:600px;
  background-color: white;
  border-radius: 15px;
}
.box{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: skyblue;
  
  animation: growbox 5s 1 normal 3s ease-in-out forwards;

}
@keyframes growbox{
     from{top:100px;right:100px;bottom:100px;left:100px;}
     to{top:0;right:0;bottom:0;left:0;}
}
.property{
  display: flex;
  text-align: center;
  animation: typing 3s 1 normal 0s forwards;
}
@keyframes text{
   from{width:0; color:transparent;}
   to{width:24;color:white;}
}